In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# data available in: https://covid19.who.int/WHO-covid19-global-data.csv

In [7]:
data = pd.read_csv(r"C:\Users\caio_\Desktop\sample_project\.ipynb_checkpoints\WHO-COVID-19-global-data.csv")
data

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
264961,2023-01-20,ZW,Zimbabwe,AFRO,0,259947,0,5635
264962,2023-01-21,ZW,Zimbabwe,AFRO,0,259947,0,5635
264963,2023-01-22,ZW,Zimbabwe,AFRO,0,259947,0,5635
264964,2023-01-23,ZW,Zimbabwe,AFRO,0,259947,0,5635
264965,2023-01-24,ZW,Zimbabwe,AFRO,0,259947,0,5635

In [22]:
# See all countries listed in the data

data['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
# See all the regions listed in the data

data['WHO_region'].unique()

array(['EMRO', 'EURO', 'AFRO', 'WPRO', 'AMRO', 'SEARO', 'Other'],
      dtype=object)

In [26]:
# Let's start analysing by region

data_americas = data[data['WHO_region'] == 'AMRO']

In [27]:
data_americas

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
6708,2020-01-03,AI,Anguilla,AMRO,0,0,0,0
6709,2020-01-04,AI,Anguilla,AMRO,0,0,0,0
6710,2020-01-05,AI,Anguilla,AMRO,0,0,0,0
6711,2020-01-06,AI,Anguilla,AMRO,0,0,0,0
6712,2020-01-07,AI,Anguilla,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
259371,2023-01-20,VE,Venezuela (Bolivarian Republic of),AMRO,39,551101,2,5839
259372,2023-01-21,VE,Venezuela (Bolivarian Republic of),AMRO,90,551191,1,5840
259373,2023-01-22,VE,Venezuela (Bolivarian Republic of),AMRO,13,551204,0,5840
259374,2023-01-23,VE,Venezuela (Bolivarian Republic of),AMRO,79,551283,0,5840
259375,2023-01-24,VE,Venezuela (Bolivarian Republic of),AMRO,12,551295,0,5840

In [102]:
data_americas.groupby('Country')[(
    'Cumulative_deaths')].max()

Country
Anguilla                                   12
Antigua and Barbuda                       146
Argentina                              130394
Aruba                                     281
Bahamas                                   833
Barbados                                  569
Belize                                    688
Bermuda                                   157
Bolivia (Plurinational State of)        22342
Bonaire                                    33
Brazil                                 696257
British Virgin Islands                     64
Canada                                  50135
Cayman Islands                             37
Chile                                   63683
Colombia                               142385
Costa Rica                               9142
Cuba                                     8530
Curaçao                                   301
Dominica                                   74
Dominican Republic                       4384
Ecuador                                 35942
El Salvador                              4230
Falkland Islands (Malvinas)                 0
French Guiana                             413
Grenada                                   238
Guadeloupe                               1007
Guatemala                               20074
Guyana                                   1293
Haiti                                     860
Honduras                                11099
Jamaica                                  3476
Martinique                               1089
Mexico                                 331881
Montserrat                                  8
Nicaragua                                 245
Panama                                   8594
Paraguay                                19778
Peru                                   218649
Puerto Rico                              5642
Saba                                        2
Saint Barthélemy                            5
Saint Kitts and Nevis                      46
Saint Lucia                               409
Saint Martin                               46
Saint Pierre and Miquelon                   2
Saint Vincent and the Grenadines          123
Sint Eustatius                              6
Sint Maarten                               89
Suriname                                 1398
Trinidad and Tobago                      4297
Turks and Caicos Islands                   38
United States Virgin Islands              129
United States of America              1093540
Uruguay                                  7601
Venezuela (Bolivarian Republic of)       5840
Name: Cumulative_deaths, dtype: int64